* {
	box-sizing: border-box;
	font-family: "sans-serif","宋体";
	outline: none;
	margin: 0;
	padding: 0;
}
a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: #fff;
}
ul{
	list-style-type:none; 
}
.header{
	width: 100%;
	height: 55px;
	background-color: #2189bf;
	overflow: hidden;
}
.logo{
	float: left;
	height: 36px;
	width: 36px;
	background-image:url(../images/task_1_9_1_01.gif);
	margin: 10px 20px;
}
.user-img{
	display:inline-block;
	width: 15px;
	height: 16px;
	background-image:url(../images/task_1_9_1_03.gif);
}
.select{
	float: right;
	line-height: 55px;
	margin-right: 80px;

	
}
.signin{
	font-size: 14px;
}
.search{
	width: 300px;
}
.search input{
	width: 320px;
	background:url(../images/task_1_9_1_02.gif) no-repeat #fff 10px 5px;
	padding:5px 35px;
	border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border: none;
}
.center{
	overflow: hidden;
	width: 1280px;
	margin: 0;
	padding: 0;
}
.left{
	float:left;
	width:260px;
	height: 1000px;
	background-color:#151c39;
}
.user-name{
	color: #fff;
	width: 100%;
	overflow: hidden;
	padding:0 50px;
}
.user-name img{
	margin-top:20px;
	float: left;
}
.user-name span{
	line-height: 100px;
	float: right;
	width: 80px;
}
.user-collection{
	width: 100%;
	overflow: hidden;
	height: 80px;
	padding: 0 40px;
}
.user-collection span{
	float: left;
	width: 80px;
	text-align: center;
	font-size: 16px;
}
.user-collection a{
	color: #557097;
}
.user-s{
	font-size: 12px;
}
.user-span-left{
	border-right: 1px solid #25315c;
}
.nav-first{
	width: 100%;
}
.nav-first-li{
	height: 50px;
	line-height: 50px;
	font-size: 12px;
	padding:0 75px;
	width: 100%;
	float: left;
}
.nav-bg-4{
	background: url(../images/task_1_9_1_04.png) no-repeat;
}
.nav-bg-6{
	background: url(../images/task_1_9_1_06.png) no-repeat 50px 20px;
}
.nav-bg-7{
	background: url(../images/task_1_9_1_07.png) no-repeat 0px;
}
.nav-bg-8{
	background: url(../images/task_1_9_1_08.png) no-repeat;
}
.nav-bg-10{
	background: url(../images/task_1_9_1_10.png) no-repeat 0px;
}
.nav-bg-13{
	background: url(../images/task_1_9_1_13.png) no-repeat 0px;
}
.nav-bg-16{
	background: url(../images/task_1_9_1_16.png) no-repeat 0px;
}
.nav-bg-18{
	background: url(../images/task_1_9_1_18.png) no-repeat 50px 20px;
}
.nav-bg-21{
	background: url(../images/task_1_9_1_21.png) no-repeat 50px 20px;
}
.nav-bg-23{
	background: url(../images/task_1_9_1_23.png) no-repeat 50px 20px;
}
.nav-first a:hover{
	background-color: #222b52;
}
.nav-light{
	background-color: #222b52;
	height: 230px;
}
.arrow-ul{
	margin-left:80px;
}
.arrow a{
	font-size: 12px;
}
.nav-light-ls{
	height: 120px;
	padding-left: 20px; 
}
.nav-light-sm{
	height: 30px;
	line-height: 30px;
	margin-top:10px;
	margin-left:20px;
	padding-left:15px;
	color: #fff;
	float: left;
	width: 130px;
}
.blue{
	color: #6e8095;
}
.nav-second{
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	float: left;
	width: 100%;
}
.arrow{
	float: left;
	width: 100%;
	padding-left:20px;
}
.arrow-w{
	background:url(../images/task_1_9_1_08.png) no-repeat 0px 8px;
	height: 40px;
	line-height: 40px;
}
.arrow-s{
	background:url(../images/task_1_9_1_04.png) no-repeat 0px 8px;
}
.content{
	width: 1020px;
	float: left;
	padding: 5px 20px;
}
.content a{
	color:#000;
}
.title{
	width: 100%;
	overflow: hidden;
	color: #aeb7b4;
}
.title a{
	font-size: 12px;
	margin:0 10px;
	color: #aeb7b4;
}
.title a:hover{
	color: #74a7c2;
}
.content-box{
	float: left;
	width: 100%;
	overflow: hidden;
	margin:10px 0;
	font-size: 12px;
	border: 1px solid #ccc;
	color: #aaa;
}
.content-statistics{
	float: left;
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
	font-size: 12px;
}
.search-button{
	width: 60px;
	height: 30px;
	background-color:#3fa6e8;
	color: #fff;
	margin-top: 20px;
	border-radius:5px;
	-webkit-border-radius: 5px;
}
.top-span{
	float: left;
	padding: 10px 20px 10px 0;
	margin:10px;
}
.no-span{
	margin:10px 0 0;
	padding:10px 0;
}
.top-span label{
	width: 60px;
	text-align: center;
	margin:10px;
}
.top-span select,input{
	height: 24px;
	padding-left:5px;
	border: 1px solid #aaa;
}
.top-span p{
	margin-top: 6px;
}
.top-span img{
	float: left;
	margin-top: 15px;
}
.select-lang{
	width: 120px;
}
.select-sm{
	width: 70px;
}
.red-numb{
	font-size: 26px;
	color: #db4f1e;
}
.black-numb{
	font-size: 14px;
}
.switch{
	float: left;
	height: 80px;
	line-height: 80px;
	width: 40px;
	font-size: 30px;
	text-align: center;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}
.switch a{
	color: #aaa;
}
.switch a:hover{
	color: #000;
}
.time-f{
	float: left;
	width: 120px;
	height: 80px;
	text-align: center;
	padding-top: 15px;
	margin-right:2px; 
	border-top:4px solid #4287c9;
	font-size: 20px;
}
.time-st{
	float: left;
	height: 80px;
	width: 120px;
	border: 1px solid #aaa;
	border-bottom: none;
	border-right: none;
	text-align: center;
	padding-top: 15px;
	margin-right:2px;
	font-size: 20px;
}
.time-st:hover{
	border-top: 4px solid #4287c9;
}
.query{
	float: left;
	width: 166px;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	text-align: center;
	background: url(../images/task_1_9_1_05.png) no-repeat 25px;
	height: 80px;
	line-height: 80px;
	font-size: 14px;
	padding-left:30px; 
}
.block{
	float: left;
	width: 215px;
	height: 80px;
	border: 1px solid #aaa;
	padding: 15px;
}
.block a{
	color: #aaa;
}
.block p{
	line-height: 20px;
	width: 80px;
	margin-left:10px; 
}
.float{
	float: left;
}
.statistics-block{
	margin-right:40px; 
}
.color-block{
	width: 60px;
	height: 50px;
	float: right;
}
.green{
	background-color:#42b39f; 
}
.blues{
	background-color:#3889c1; 
}
.red{
	background-color:#cf4a36; 
}
.yellow{
	background-color:#e1cd46; 
}
.blue-border{
	border-left: 4px solid #3889c1;
}
.red-border{
	border-left: 4px solid #cf4a36;
}
.green-border{
	border-left: 4px solid #42b39f;
}
.yellow-border{
	border-left: 4px solid #e1cd46;
}
.content-statistics h2{
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 5px;
}
.project-left{
	float: left;
	width: 600px;
	border: 1px solid #aaa;
    -moz-border-radius:5px;  
    -webkit-border-radius:5px;  
    border-radius:5px;  
}
.project-label{
	float: left;
}